.startStopButton {
    margin : 4px;
  }

.progressSpinner {
    color: green;
    vertical-align: middle;
    margin : 0px;
    margin-bottom: 12px;
}

.doneIcon {
    color: green;
    vertical-align: middle;
    margin : 0px;
    margin-bottom: 20px;
}