
.parent {
    display : flex;
    justify-content: center;
}

.placeHolder {
    align-self: flex-end;
}

.someId .startStop-Button {
    margin : 4px;
  }

.someId .fabProgress {
    color: green;
    vertical-align: middle;
    margin : 0px; 
}

.spinnerIcon {
    margin-bottom : 12px; 
}

.checkIcon {
    margin-bottom : 20px;
}

.someId .wrapper {
    position: 'relative';
}